<h2><%= l(:newissuealerts_new, :project => @project.name) %></h2>
<% form_for :newissuealert, @newissuealert, :url => { :project_id => @project.identifier } do |f| %>
  <%= f.error_messages %> 
<div class="box tabular settings">
  <p>
    <%= f.label l(:email_addresses) %> <%= f.text_field :mail_addresses %>
  </p>
  <p>
    <%= f.label l(:enabled) %> <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.submit l(:create) %>
  </p>
</div>
<% end %> 
